      * {
            box-sizing: border-box;
        }

        body {
            color: #878787;
            margin: 0;
            font-family: sans-serif;
            text-align: center;

        }

        img {
            max-width: 100%;
        }

        a {
            text-decoration: none;
        }

        .nav-header {
            background: #f0f5f5; 
            height: 100px;
            display: flex;
        }


        .nav-div {
            margin: auto;
        }

        .logo-img {
            width: 120px;
            margin-left: 20px;
        }

        .search-icon {
            margin: 30px;
        }

        .nav-bar {
            list-style-type: none;
            display: flex; 
        }

        .nav-bar-link {
            color: darkblue;
            /*color: #878787;*/
            font-size: 25px;
            padding: 20px;
            font-family: cursive; 
        }

        /*.main-header {
            height: 350px;
            background: url("imgs/happy-family.jpg") no-repeat center;
            background-size: cover;
            font-family: cursive;
        }*/

        .main-header-title {
            text-align: left;
            font-size: 2.5em;
            color: darkblue;
            text-transform: uppercase;
            font-weight: normal;
            padding-left: 75px;
            text-shadow: 2px 2px 5px lightblue;
            margin: 0;
        }

        h2{ 
            font-family: cursive;
            color: darkblue;
         }

        /*.main-header-intro {
            line-height: 1.5em;
            width: 50%;
            margin: auto;
            padding: 40px;
            color: #333333;
            text-align: justify;
        }*/

        .intro {
            width: 60%;
            margin: auto;
        }

        .button {
            display: block;
            color: darkblue;
            font-family: cursive;
            background: lightblue;
            width: 150px;
            margin: auto;
            margin-bottom: 20px;
            padding: 20px;
                box-shadow: 3px 4px 1px grey;
        }

        .box {
            display: flex;
            flex-direction: column;
            width: 80%;
            margin: auto;
        }

        .card {
            width: 100%;
            padding: 20px;
            text-align: left;
            border: thin black solid;
            margin: 3%;
            background-color: #f0f5f5;
            border-radius: 2%;
            box-shadow: 3px 3px 1px;

        }

        .footer {
            height: 40px;
            background: #f0f5f5;
            padding: 5px;
            margin-top: 20px;
        }